.container{
    margin: 0px auto;
    max-width: 1440px;
    overflow: hidden;
}
.blog-navbar{
    margin-bottom:0rem !important;
}

.main .blog-header .container {
    background: grey url("../img/Blog/Header/Hero-img.png") no-repeat fixed center;
    background-size:cover;
    padding: 12.38rem 16.12rem 17.88rem 7.5rem;
}

.blog-header-btn{

    padding: 0.90625rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border: none;
    border-radius: 0.5rem;
    background: #FFBF23;
    
}

.main .blog-header .container .hero h1{
    color: var(--color-b-2);
    font-family: var(--font-family);
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 2.5rem;
}

/* Article 1 */

.article-1-header .container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 4rem 7.5rem 0rem 7.5rem;
    margin-bottom:3.5rem;

}

.article-1-header .container h2{
    color: var(--color);
    font-family: var(--font-family);
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.article-1-header .container .article-nav ul{
    display: flex;
    list-style-type: none;      
}

.article-1-header .container .article-nav ul>li a{
    list-style-type: none;
    color:var(--color-b-2);
    font-family:var(--font-family);
    text-transform:uppercase; 
}

.article-1-header .container .article-nav ul>li:first-child a{
    background-color: #FFBF23;
    border-radius: 0.5rem;
    
}
.article-1-header .container .article-nav a{
    display: flex;
    padding: 0.90625rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    text-decoration:none;
    list-style-type: none;
}

.article-1 .container{
    padding:0 7.5rem;
    display:grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns:repeat(auto-fit, minmax(340px, 1fr));
    gap: 2.5rem;
    margin-bottom:6.5rem;
}

.article-1 .container .card-container{
    width: 100%;
}


.card-contianer .article-card img{
    margin-bottom:1rem;
    width: 100%;
}

.card-contianer .article-text .p1{
    color: #495057;
    font-family: var(--font-family-p);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom:1rem;
    align-self:stretch;
}

.card-contianer .article-text .p2{
    color: #464E5F;
    font-family: var(--font-family-p);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.5rem */
}

.card-contianer .article-text h4{
    color: #313131;
    font-family: var(--font-family);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom:0.94rem;
}

.quote{
    padding:0 7.5rem;
}

.quote .container{
    background: url("../img/Blog/Quote/Quote-img.png") no-repeat fixed center;
    background-size: cover;
    margin-bottom: 6.5rem;
}

.quote .container p{

    color: #ffffff;
    font-family: var(--font-family);
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 12.38rem;
    text-align: center;
    /* width: 50.3125rem; */

}


.Line .container{
    padding: 3rem 7.5rem;
    position: relative;
    margin-bottom: 1.5rem;
}
.Line .container hr{
    position: relative;
    background-color: var(--color);
    height: 4px;
    
}
.Line .container img{
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.article-2 .container{
    flex-direction: column;
    padding: 0 7.5rem;
    
}

.article-2 .container h2{
    color: #313131;
    font-family: var(--font-family);
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    margin-bottom: 2.5rem;
}

.article-2 .container .card-2-container{
    display: grid;
    gap: 2.5rem;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}

.article-2 .container .card-2{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4.625rem 1.5rem;
}

.article-2 .container .card-2a{
    background-image: url("../img/Blog/Card/Card-1-img.png");
}

.article-2 .container .card-2b{
    background-image: url("../img/Blog/Card/Card-2-img.png");
}

.article-2 .container .card-2c{
    background-image: url("../img/Blog/Card/Card-3-img.png");
}


.article-2 .container .card-2-container .card-2 .p1, .p3{
    color: #ffffff;
    font-family: var(--font-family-p);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
}

.article-2 .container .card-2-container .card-2 .p1{
    font-size: 0.75rem;
    margin-bottom: 1rem;
}

.article-2 .container .card-2-container .card-2 .p2{
    color: #ffffff;
    font-family: var(--font-family);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 0.94rem;

}

.article-2 .container .card-2-container .card-2 .p3{
    font-size: 1rem;
    line-height: 150%;
}


@media (max-width:890px){
 
    body .blog-navbar{
        margin-bottom:0rem;
    }
    
    body .blog-navbar .container{
        padding: 1.5rem 1.2rem ;
    }

    .main .blog-header .container {
        padding: 12.38rem 16.12rem 17.88rem 1.2rem;
    }
    
    .blog-header-btn{
        width: 70%;
    }
    
    .main .blog-header .container .hero h1{
        font-size: 4rem;
    }
    
    /* Article 1 */
    
    .article-1-header .container{
        display: flex;
        align-items: start;
        padding: 4rem 1.2rem 0rem 1.2rem;
    }
    
    .article-1-header .container h2{
        font-size: 2.5rem;
      }
    
    .article-1 .container{
        padding:0 1.2rem;
    }

    .card-contianer .article-text .p1{
        font-size: 0.75rem;
    }
    
    .card-contianer .article-text .p2{
        font-size: 1rem;
    }
    
    .card-contianer .article-text h4{
        font-size: 1.5rem;
    }
    
    .quote{
        padding:0 1.2rem;
    }
    
    
    .quote .container p{
        font-size: 2.5rem;
        padding: 12.38rem;
    
    }
    
    
    .Line .container{
        padding: 3rem 1.2rem;
    }
    
    .article-2 .container{
        padding: 0 1.2rem;
        
    }
    
    .article-2 .container h2{
        font-size: 3.5rem;
    }
    
    .article-2 .container .card-2-container{
        grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    }
    
    .article-2 .container .card-2{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 4.625rem 1.5rem;
    }
    
    .article-2 .container .card-2a{
        background-image: url("../img/Blog/Card/Card-1-img.png");
    }
    
    .article-2 .container .card-2b{
        background-image: url("../img/Blog/Card/Card-2-img.png");
    }
    
    .article-2 .container .card-2c{
        background-image: url("../img/Blog/Card/Card-3-img.png");
        width: 210%;
    }
    
    .article-2 .container .card-2-container .card-2 .p1{
        font-size: 0.75rem;
        margin-bottom: 1rem;
    }
    
    .article-2 .container .card-2-container .card-2 .p2{
        font-size: 1.125rem;
    }
    
    .article-2 .container .card-2-container .card-2 .p3{
        font-size: 1rem;
        line-height: 150%;
    }
    
}

@media (max-width:678px){
    .article-2 .container .card-2c{
        width: 100%;
    }
}

@media (max-width:650px){
    .main .blog-header .container {
        background: grey url("../img/Blog/Header/Hero-img.png") no-repeat fixed center;
        background-size:cover;
        padding: 12.38rem 1.2rem 17.88rem 1.2rem;
    }
    .article-2 .container .card-2-container{
        /* width: 100%; */
        padding: 0rem;
    }
}

@media (max-width:335px){
    
    .blog-header-btn{
        width: 100%;
    }
    
    .article-1 .container{
        padding:0rem;
        width: 100%;
    }

    .article-1 .container .card-container{
        width: 50%;
    }
    
    .card-contianer .article-text{
        padding: 0 1.5rem;
        width: 100%;
    }
    
}