* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-2: #0f1013;
  --color: #000000;
  --color-b-2: #141414;
  --color-blue: #f5faff;
  --decor-color: #ffa800;
  --font-family: "ClashGrotesk", sans-serif;
  --font-family-p: "ProximaNova";
}

/* Container */
.container {
  max-width: 1440px;
  margin: 0 auto;
  /* border: 2px solid red; */
  display: flex;
  /* flex-wrap:wrap; */
  overflow: hidden;
}

/* Navbar */
.navbar {
  margin-bottom: 5.1875rem;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 7.5rem;
}

/* Logo */
.container .logo {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.container .logo .jhomes {
  color: var(--color);
  font-family: var(--font-family);
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* Navigation */
.container .nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 0.125rem blue solid; */
}

.container .nav li {
  margin-left: 1.25rem;
}

ul > li:last-child a {
  color: var(--decor-color);
}

.container .nav a {
  text-decoration: none;
}

/* Header */
.header .container {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  padding: 0 7.5rem;
  margin-bottom: 6.5rem;
}

.header .container .house-detail {
  /* border: 2px yellow solid; */
  width: 50%;
}

.header .container .house-detail h1 {
  color: var(--color);
  font-family: var(--font-family);
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.header .container .house-detail #decor {
  color: var(--decor-color);
}

.header .container .house-detail p {
  color: var(--color);
  font-family: var(--font-family-p);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 2.5rem;
}

/* Header Button */

.header .container .house-detail .btn {
  background-color: var(--decor-color);
  border: 0px;
  border-radius: 8px;
  padding: 0.9063rem 1.5rem;
  margin-bottom: 3.5rem;
}

.header .container .house-detail button {
  color: var(--color);
  font-family: var(--font-family-p);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-variant: all-small-caps;
}

/* Header Icons */
.header .container .house-detail .shop {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
.house-detail .shop .shop-container {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

.house-detail .shop .shop-container .shop-img {
  background: rgba(56, 71, 109, 0.09);
  border-radius: 30px;
  padding: 0.625rem;
}

.house-detail .shop .shop-container img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1042rem 0.25rem 0.1667rem 0.25;
  /* flex-shrink: 0; */
}

.header .container .house-detail .shop .detail {
  color: #000;
  font-family: var(--font-family);
  font-size: 1rem;
  line-height: 150%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 115px; */
  /* border:2px red solid; */
}

/* Header RHS */

.header .container .house {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.header .container .house img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* border: 2px cyan solid; */
}

/* Section One */
.section-1 {
  background: var(--color-blue);
}

.section-1 .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 4rem 7.5rem;
  margin-bottom: 6.5rem;
}

.section-1 .container .section-1-detail {
  width: 45%;
}
.section-1 .container .section-1-detail h3 {
  color: #141414;
  font-family: var(--font-family);
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.0313rem;
  margin-bottom: 2rem;
}

.section-1 .container .section-1-detail p {
  color: #3d3d3d;
  font-family: var(--font-family-p);
  font-size: 1.125rem;
  line-height: 150%;
  margin-bottom: 2rem;
}

/* Section One Button */
.section-1 .container .section-1-detail button {
  color: var(--color-2);
  font-family: var(--font-family-p);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-variant: all-small-caps;
}
.section-1 .container .section-1-detail .btn-2 {
  background-color: var(--color-blue);
  border: 1px solid var(--color-2);
  border-radius: 8px;
  margin-bottom: 3.5rem;
  padding: 0.9063rem 1.5rem;
  width: 30%;
}

/* Section One RHS */

.section-1 .container .bed-container {
  display: flex;
  align-items: end;
  justify-content: end;
  position: relative;
  width: 55%;
}

/* Section One RHS Image */
.section-1 .container .bed-container .bed-img {
  position: relative;
}
.section-1 .container .bed-container .bed-img img {
  /* flex-shrink: 0; */
  width: 100%;
  padding-bottom: 23%;
}

/*Views and Clicks  */
.section-1 .container .bed-container .card {
  background: #ffffff;
  border-radius: 1rem;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.875rem 2.25rem 2.375rem 1.875rem;
}

/*Views */
.section-1 .container .bed-container .views {
  position: absolute;
  top: 38%;
  left: 0%;
  /* z-index: 10; */
}

/* Clicks */
.section-1 .container .bed-container .clicks {
  position: absolute;
  bottom: 10;
  right: 6%;
}

/* Card Image */
.section-1 .container .bed-container .card .num-img {
  flex-shrink: 0;
  margin-bottom: 1.25rem;
  padding: 0.25;
  border-radius: 2rem;
  background: rgba(56, 71, 109, 0.09);
}

/* Digits */

.section-1 .container .bed-container .card .num {
  color: var(--color);
  font-family: var(--font-family);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.0313rem;
}

/* 'Views' and 'Clicks' */
.section-1 .container .bed-container .card .num-detail {
  color: var(--color-b-2);
  font-family: var(--font-family-p);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.0313rem;
}

/* Section 2 */
.section-2 .container {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2.5rem;
  margin-bottom: 6.5rem;
  padding: 0 7.875rem;
}

/* Section-2 Container */
.section-2 .container .bed2-container {
  width: 50%;
  position: relative;
}

/* Section-2 Image Container*/
.section-2 .container .bed2-container .bed-2 {
  display: flex;
  justify-content: end;
}

/* Section 2 img */
.section-2 .container .bed2-container .bed-2 img {
  width: 80%;
  padding-bottom: 18%;
}

/* Joy girl card container*/

.section-2 .container .bed2-container .joy-card {
  /* flex-shrink: 0; */
  background: #ffffff;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 16px;
  width: 50%;
  display: flex;
  align-items: center;
  gap: 1rem;
  position: absolute;
  bottom: 10%;
}

/* Joy Details */

.joy-card .joy-detail #p1 {
  color: var(--color);
  font-family: var(--font-family);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.0313rem;
}

.joy-card .joy-detail #p2 {
  color: #3d3d3d;
  font-family: var(--font-family);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.0313rem;
}

.joy-card .joy-detail #p3 {
  color: var(--color-b-2);
  font-family: var(--font-family-p);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.0313rem;
}

/* social media icons */

.joy-card .joy-rhs .social {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

/* Section 2 Second Card */
.section-2 .container .bed2-container .experts {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  flex-shrink: 0;
  background: #ffffff;
  border-radius: 20px;
  bottom: 0%;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
  gap: 0.25rem;
  padding: 1rem;
  position: absolute;
  right: 4%;
}

/* Section 2, About Us */

.section-2 .container .about-us {
  width: 50%;
}

.section-2 .container .about-us h3 {
  color: var(--color-b-2);
  font-family: var(--font-family);
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.5px;
  margin-bottom: 1.25rem;
}

.section-2 .container .about-us p {
  font-family: var(--font-family-p);
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 1.25rem;
}

.section-2 .container .about-us ul > li {
  color: #3d3d3d;
  font-family: var(--font-family-p);
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-left: 4%;
}

/* footer */
.footer .container {
  background-color: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 7.5rem;
}

/* footer logo */
.footer .container .footer-logo {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.footer .container .footer-logo p {
  color: #ffffff;
  font-family: var(--font-family);
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* footer RHS */
.footer .container .footer-rhs {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1.5rem;
}

.footer .container .footer-rhs p {
  color: #ffffff;
  font-family: var(--font-family);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.footer .container .footer-rhs .footer-social {
  display: flex;
  gap: 1rem;
}

/* RESPONSIVE DESIGN */

@media (max-width: 1300px) {
  .section-1 .container .section-1-detail {
    display: flex;
    flex-direction: column;
    width: 35%;
  }

  .section-1 .container .bed-container {
    display: flex;
    width: 50%;
  }
  .section-1 .container {
    display: flex;
    flex-grow: 1;
  }

  /*Views */
  .section-1 .container .bed-container .views {
    left: -20%;
    /* z-index: 10; */
  }

  .section-1 .container .section-1-detail .btn-2 {
    width: 50%;
  }
}

@media (max-width: 1230px) {
  /* Header RHS - Image */
  .header .container .house img {
    width: 150%;
  }

  /*Views */
  .section-1 .container .bed-container .views {
    position: absolute;
    top: 38%;
    left: -25%;
  }

  /* Joy girl card container*/

  .section-2 .container .bed2-container .joy-card {
    /* flex-shrink: 0; */
    padding: 10px;
    gap: 0.25rem;
  }
}

@media (max-width: 1120px) {
  /*Views */
  .section-1 .container .bed-container .views {
    position: absolute;
    top: 38%;
    left: -30%;
  }

  /* Joy girl card container*/

  .section-2 .container .bed2-container .joy-card {
    /* flex-shrink: 0; */
    width: 50%;
    gap: 0.25rem;
  }

  .bed2-container .joy-card .social img {
    width: 20%;
  }
  .joy-img img {
    width: 100%;
  }

  /* Section 2 Second Card */
  .section-2 .container .bed2-container .experts {
    padding: 0.65rem 0.5rem;
    bottom: 3%;
    width: 20%;
  }

  .experts .expert-img {
    width: 100%;
  }

  .section-2 .container .bed2-container .experts .love {
    width: 40%;
  }

  .footer .container .footer-rhs p {
    font-size: 1.25rem;
  }
}

@media (max-width: 1100px) {
  .header .container .house-detail .shop .detail {
    line-height: 300%;
  }

  .shop {
    flex-wrap: wrap;
  }
}

@media (max-width: 1000px) {
  .header .container .house-detail h1 {
    font-size: 3rem;
  }

  .header .container .house-detail p {
    font-size: 1.3rem;
  }

  .section-1 .container .section-1-detail h3 {
    font-size: 2rem;
  }

  .section-1 .container .section-1-detail p {
    font-size: 1.125rem;
  }
}

@media (max-width: 950px) {
  .section-1 .container .section-1-detail .btn-2 {
    padding: 0.5rem;
  }

  /* Section One RHS Image */

  .section-1 .container .bed-container .bed-img img {
    flex-shrink: 0;
    padding-bottom: 23%;
  }

  /*Views and Clicks  */
  .section-1 .container .bed-container .card {
    padding: 1.2rem;
  }

  /*Views */
  .section-1 .container .bed-container .views {
    position: absolute;
    top: 38%;
    left: -25%;
    /* z-index: 10; */
  }

  /* Clicks */
  .section-1 .container .bed-container .clicks {
    position: absolute;
    bottom: 10;
    right: 6%;
  }

  /* Digits */

  .section-1 .container .bed-container .card .num {
    color: var(--color);
    font-family: var(--font-family);
    font-size: 1rem;
    letter-spacing: 0.0313rem;
  }

  /* 'Views' and 'Clicks' */
  .section-1 .container .bed-container .card .num-detail {
    line-height: 150%;
    letter-spacing: 0.0313rem;
  }

  /* Section-2 */

  .section-2 .container .bed2-container .experts .love {
    width: 30%;
  }

  /* Joy Details */
  /* Joy Details */

  .joy-card .joy-detail #p1 {
    font-size: 0.75rem;
  }

  .joy-card .joy-detail #p2 {
    font-size: 0.5rem;
  }

  .joy-card .joy-detail #p3 {
    font-size: 0.45rem;
  }

  /* social media icons */

  .joy-card .joy-rhs .social {
    display: flex;
    gap: 0.45rem;
    margin-top: 1rem;
  }

  .footer .container .footer-rhs p {
    font-size: 1rem;
  }
}

@media (max-width: 800px) {
  .container .logo .jhomes {
    font-size: 1.5rem;
  }

  .header .container .house-detail h1 {
    font-size: 2rem;
  }

  .header .container .house-detail p {
    font-size: 1rem;
  }

  /* .section-1 .container .section-1-detail h3 {
    font-size: 2rem;
  }

  .section-1 .container .section-1-detail p {
    font-size: 1.125rem;
  } */

  .header .container .house-detail button {
    font-size: 1rem;
  }

  /* Header Icons */
  .header .container .house-detail .shop {
    gap: 0.5rem;
  }

  .house-detail .shop .shop-container .shop-img {
    border-radius: 30px;
    padding: 0.5rem;
  }

  .header .container .house-detail .shop .detail {
    font-size: 0.8rem;
  }

  .section-1 .container .section-1-detail h3 {
    font-size: 1.6rem;
  }
  .section-1 .container .section-1-detail p {
    font-size: 0.8rem;
  }

  .section-1 .container .section-1-detail button {
    font-size: 1rem;
  }
  .section-1 .container .bed-container .card {
    padding: 1.2rem;
  }

  /* Card Image */
  .section-1 .container .bed-container .card .num-img {
    padding: 0.25;
    width: 1.5rem;
  }

  /* Digits */
  .section-1 .container .bed-container .card .num {
    font-size: 0.8rem;
  }

  /* 'Views' and 'Clicks' */
  .section-1 .container .bed-container .card .num-detail {
    font-size: 0.75rem;
  }

  .section-1 .container .section-1-detail .btn-2 {
    padding: 0.4rem;
  }

  .section-2 .container .bed2-container .joy-card {
    /* flex-shrink: 0; */
    width: 60%;
    gap: 0.8rem;
  }

  .section-2 .container .about-us p {
    font-size: 1rem;
  }

  .section-2 .container .about-us ul > li {
    font-size: 1rem;
  }
  .footer .container .footer-logo p {
    font-size: 1.5rem;
  }

  .footer .container .footer-rhs p {
    font-size: 0.8rem;
  }

  .footer .container .footer-rhs img {
    width: 70%;
  }
}

@media (max-width: 750px) {
  /* Logo */
  .container .logo {
    gap: 0.8rem;
  }

  .container .logo .jhomes {
    font-size: 1.2rem;
  }

  .container .nav li {
    font-size: 0.8rem;
  }

  /* footer logo */
  .footer .container .footer-logo {
    gap: 0.8rem;
  }

  /*Views */
  .section-1 .container .bed-container .views {
    top: 30%;
    left: -25%;
    /* z-index: 10; */
  }
}

@media (max-width: 749px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  /* Header */
  .header .container{
    flex-wrap:wrap;
  }


  .header .container .house-detail{
    /* border: 2px yellow solid; */
    width: 100%;
  }

  
  .header .container .house-detail h1 {
    font-size: 3rem;
  }

  .header .container .house-detail p {
    font-size: 1.2rem;
  }

  .header .container .house-detail button {
    font-size: 1.5rem;
    width:100%
  }

  .shop {
    flex-wrap: nowrap;
  }



  .header .container .house-detail .shop .detail {
    font-size: 1rem;
  }

  .header .container .house {
    width: 100%;
  }

  .header .container .house img {
  }

  .section-1 .container {
    flex-wrap:wrap;
    justify-content: center;
  }
  .section-1 .container .section-1-detail {
    width: 100%;
  }
  .section-1 .container .section-1-detail h3 {
    font-size: 2.5rem;
  }

  .section-1 .container .section-1-detail p {
    font-size: 1.2rem;
  }

  .section-1 .container .section-1-detail .btn-2{
    padding:0.6rem;
    width:100%;
  }
  .section-1 .container .section-1-detail button {
    font-size: 1.6rem;
  }

  /* Section One RHS */

.section-1 .container .bed-container {
  width: 100%;
  border:2px solid red;
}

  /* Section One RHS Image */

  .section-1 .container .bed-container .bed-img{
    display:flex;
    justify-content:end;
  }
  .section-1 .container .bed-container .bed-img img {
    /* flex-shrink: 0; */
    width: 80%;
    padding-bottom:16%;
  }

  /*Views and Clicks  */
.section-1 .container .bed-container .card {
  background: #ffffff;
  border-radius: 1rem;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.875rem 2.25rem 2.375rem 1.875rem;
}

/*Views */
.section-1 .container .bed-container .views {
  top: 38%;
  left: 0%;
  /* z-index: 10; */
}

/* Clicks */
.section-1 .container .bed-container .clicks {
  bottom: -6%;
  right: 6%;
}

/* Card Image */
.section-1 .container .bed-container .card .num-img {
  flex-shrink: 0;
  margin-bottom: 1rem;
  padding: 0.1rem;
}

/* Digits */

.section-1 .container .bed-container .card .num {
  font-size: 1.2rem;
}

/* 'Views' and 'Clicks' */
.section-1 .container .bed-container .card .num-detail {
  font-size: 0.8rem;
}
  
  .section-2 .container{
    flex-wrap:wrap;
  }

  .section-2 .container .bed2-container {
    width: 100%;
  }
  
  
  /* Section 2 img */
  .section-2 .container .bed2-container .bed-2 img {
    width: 80%;
  }

  /* Joy girl card container*/

.section-2 .container .bed2-container .joy-card {
  padding:1rem;
  width: 45%;
  gap: 1rem;
  position: absolute;
  bottom: 10%;
}

/* Joy Details */

.joy-card .joy-detail #p1 {
  font-size: 1.5rem;
} 

.joy-card .joy-detail #p2 {
  font-size: 1rem;
}

.joy-card .joy-detail #p3 {
  font-size: 0.75rem;
}

  .section-2 .container .about-us {
    width:100%;
  }

  .section-2 .container .about-us p {
    font-size: 1.1rem;
  }

  .section-2 .container .about-us ul > li {
    font-size: 1.1rem;
  }

  .footer .container .footer-rhs p {
    font-size: 0.8
    rem;
 }

  .footer .container .footer-rhs .footer-social {
    display: flex;
    gap: 0.6rem;
  }
}
